kagglehub
matplotlib

numpy>=1.13.1
scikit-learn>=0.18
absl-py>=0.1.6
jax>=0.2.0
pynndescent>=0.5.5

torch
torchvision
torchaudio
lightning

plotly==5.20.0
dash==2.16.1
git+https://github.com/openai/CLIP.git
dash-bootstrap-components
pandas
dash-ag-grid
wordcloud
dash-image-gallery
dash-core-components
umap-learn
scikit-learn
wget
dash-holoniq-wordcloud
openai
torch
torchvision
diffusers
transformers
accelerate
pillow
safetensors
